.card-item {
    background-color: var(--light-gray);
    width: 600px;
    margin: 0 auto;
    height: auto;
    min-height: 300px;
    position: relative;
    border-radius: 5px;
    overflow: hidden; 
    transition: min-height 1s ease, height 1s ease, background-color 1s ease;
}

.card-item.mini {
    min-height: 60px;
    height: 60px; 
}

.dark .card-item{
    background-color: var(--dark-slate);
}
.card-item-header{
    background-color:rgb(231, 230, 230);
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 0 0 ;
    height: 60px;
    
    transition: background-color 1s ease,color 1s ease;

    color: #000;
}
.card-item-header .header-text{
    margin-top: 10px;
}
.dark .card-item-header {
    background-color: var(--turquoise);
    color: #fff;
}

.header-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.header-wrap .header-icon{
    position: absolute;
    top: 15px;
    cursor: pointer;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  
}
.minus,
.close,
.square{

    font-size: 15px;
    border-radius: 50%;
    padding: 5px;
}
.menu-items{
position: absolute;
top: 40px;
left: 5px;
}
.menu-items ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.dark .menu-items{
    color: #fff;
}
.card-content {
    opacity: 1;
    transition: opacity 1s ease; 
    position: absolute;
    height: 300px;
}

.card-content.mini {
    opacity: 0; 
}
.wrap-propmt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    gap: 5px;
}
.wrap-propmt .shell{
    color: gray;
}
.wrap-propmt .prompt{
    color: orange;
}
.command-output{
    text-align: justify;
    width: 500px;
    padding: 10px;
    transition: color 1s ease;
}
.dark .command-output{
    color: turquoise;
}
.ant-message .ant-message-notice-wrapper .ant-message-notice-content {
    background-color: var(--light-gray);
    color: var(--turquoise);
    transition: background-color 1s ease;
}
.dark .ant-message .ant-message-notice-wrapper .ant-message-notice-content{
    background-color: var(--dark-slate);
}